@keyframes headerHeading {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
h1.main-heading {
  opacity: 0;
  animation: headerHeading 1s ease-out 1s forwards;
  &-2 {
    animation-delay: 1.1s;
  }
  &-3 {
    animation-delay: 1.2s;
  }
}
p.mainOfHeader-text {
  opacity: 0;
  animation: headerHeading 1s ease-out 1.3s forwards;
}
a.mainOfHeader-btn {
  opacity: 0;
  animation: headerHeading 0.8s ease-out 1.8s forwards;
}

@keyframes topHeaderLink {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

a.navbar__items--link {
  opacity: 0;
  animation: topHeaderLink 1s ease-out 1.5s forwards;
}

.small-Opaque {
  transform: scale(0.5);
  opacity: 0;
}
.down-Opaque {
  transform: translateY(100%);
  opacity: 0;
}
.down-Opaque-contact {
  transform: translateY(10rem);
  opacity: 0;
}
