$color-redpink: #d6204e;
$color-pink: #ea86b6;

$color-royalBlue: #1121d3;
$color-darkBlue: #0b0f14;
$color-lightSilver: #bfc6d8;
$color-blueSilver: #6e90ab;
$color-lightBeige: #ded2d6;
$color-smokeGrey: #46515d;
$color-lightBrown: #c6946e;
$color-Blue: #403d5c;

$black: #000;
$white: #fff;
$grey: #eee;
$darkGrey: #999;

$font-primary: "Merriweather Sans", sans-serif;
$font-secondary: "Montserrat", sans-serif;
$font-open: "Open Sans", sans-serif;
$font-libre: "Libre Baskerville", serif;
